<div class="container">
    <% if @error %>
      <h3><%= @error %></h3>
    <% else %>

  <% if activity.version == "event" %>

      <h3 class="w3-text-green activity-name"><%= activity.name %></h3>
      <div class="w3-display-container ">
        <img src="<%= activity.image_url%>" style="width:100%; margin-bottom:-6px">

          <p class="response-address"><i class="fa fa-fw fa-location-arrow"></i> Address: <%= activity.display_address %></p>
          <p><i class="fa fa-fw fa-calendar"></i> Date: <%= activity.format_date %> (note: events may run over several days or weeks, this is the start date)</p>
          <p><i class="fa fa-fw fa-clock-o"></i>Time: <%= activity.format_time %></p>
          <p><i class="fa fa-fw fa-usd"></i> Cost: $<%= activity.filter_cost %></p>
          <p><i class="fa fa-fw fa-external-link-square"></i><%= link_to "Visit Event Site", activity.event_site_url %></p>
          <% if activity.tickets_url != "" %>
            <p><i class="fa fa-fw fa-ticket"></i> <%= link_to "Buy Tickets", activity.tickets_url if activity.has_tickets_url %></p>
          <% end %>
      </div>
      <hr>

    <% elsif activity.version == "business" %>
        <h3 class="w3-text-green activity-name"><%= activity.name %></h3>
        <div class="w3-display-container mySlides">
          <img src="<%= activity.image_url%>" style="width:100%; margin-bottom:-6px">

            <p class="response-address"><i class="fa fa-fw fa-location-arrow"></i> Address: <%= activity.display_address %></p>
            <p><i class="fa fa-fw fa-usd"></i> Price: <%= activity.price %></p>
            <p><i class="fa fa-fw fa-square"></i>Type: <%= activity.title %></p>
            <p><i class="fa fa-fw fa-mobile"></i>  <%= activity.display_phone %></p>
            <p><i class="fa fa-fw fa-external-link-square"></i><%= link_to "Visit Website", activity.url %></p>
        </div>
        <hr>

    <% else %>
        <h3 class="w3-text-green activity-name"><%= activity.name %></h3>
      <% if activity.image_url %>
        <div class="w3-display-container mySlides">
          <img src="<%= activity.image_url%>" style="width:100%; margin-bottom:-6px">
      <% end %>
            <p class="response-address"><i class="fa fa-fw fa-location-arrow"></i> Address: <%= activity.display_address %></p>
            <p><i class="fa fa-fw fa-usd"></i> Price: <%= activity.google_place_show_price %></p>
            <p><i class="fa fa-fw fa-star"></i>Rating: <%= activity.rating %></p>
            <p><i class="fa fa-fw fa-mobile"></i>  <%= activity.display_phone %></p>
            <p><i class="fa fa-fw fa-external-link-square"></i><%= link_to "Visit Website", activity.url %></p>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>








