<li>
  <div class="activity">
    <% if @error %>
      <h3><%= @error %></h3>
    <% else %>
      <ul style="list-style-type:none">
      <% if activity.version == "event" %>
        <li><h3>Event: <%= activity.name %></h3></li>
        <li><%= image_tag(activity.image_url, size: "320x240") %></li>
        <li>Address: <%= activity.display_address %></li>
        <li>Date: <%= activity.format_date %></li>
        <li>Time: <%= activity.format_time %></li>
        <li><%= link_to "Visit Event Site", activity.event_site_url %></li>
        <li><%= link_to "Buy Tickets", activity.tickets_url if activity.is_free == false %></li>
        <li>Cost: $<%= activity.filter_cost %></li><br>
      <% elsif activity.version == "dining"%>
        <li><h3>Dining: <%= activity.name %></h3></li>
        <li><%= image_tag(activity.image_url, size: "320x240") %></li>
        <li>Address: <%= activity.display_address %></li>
        <li>Phone: <%= activity.display_phone %></li>
        <li>Rating: <%= activity.rating %></li>
        <li>Price: <%= activity.price %></li>
        <li>Type: <%= activity.title %></li>
        <li><%= link_to "Visit Website", activity.url %></li>
      <% else %>
        <li><h1>Google Places Result</h1></li>
        <li><%= activity.name %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</li>

