<h3>This is the itineraries show page!</h3>
<ul style="list-style-type:none">
  <li>Event Name: <%= @activity.name %></li><br>
  <li>Address: <%= @activity.display_address %></li><br>
  <li>Start Time: <%= @activity.time_start %></li><br>
    <li><%= link_to "Visit Event Site", @activity.event_site_url %></li><br>
    <li><%= link_to "Buy Tickets", @activity.tickets_url %></li><br>
  <li>Cost: <%= @activity.cost %></li><br>
  <li>Cost: <%= @activity.cost_max %></li><br>
  <li><%= image_tag(@activity.image_url, size: "320x240") %></li>
</ul>
