<li><span class="itinerary-li-partial"><%= itinerary.name %> - <%= itinerary.date %> - <%= itinerary.location %></span><span class="itinerary-li-partial"><%= link_to "show me", itinerary %> | <a href="/itineraries/<%= itinerary.id %>/delete" > forget it... delete</a></span></li>
