
  <div class="w3-container w3-black">
      <h2><i class="fa w3-margin-center"></i>Get Started</h2><p>Getting started with PlanDuh is easy
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <h3>Step 1: Sign Up</h3><p>
<!-- <h4 class = "form-signin-heading">Step 1: Sign Up</h4> -->

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, :html => {class: "form-signin"} do |form| %>

<p>
  <%= form.text_field :first_name, placeholder: "first name", class: "form-control"%>
</p>
<p>
  <%= form.text_field :last_name, placeholder: "last name", class: "form-control" %>
</p>
<p>
  <%= form.text_field :email, placeholder: "email", class: "form-control" %>
</p>
<p>
  <%= form.password_field :password, placeholder: "password", class: "form-control" %>
</p>
<div class="checkbox">
          <label>
            <input type="checkbox" value="terms_conditions"> I Agree To Terms of Use
          </label>
        </div>
<p>
  <%= form.submit "Sign up!", class: "w3-button w3-black" %>
</p>

<% end %>
</div>





