<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>

<!-- <div class="alert alert-warning" role="alert"> -->
<div class="container">
<h2 class = "form-signin-heading">Sign Up</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, :html => {class: "form-signin"} do |form| %>

  <p>
    <%= form.text_field :first_name, placeholder: "first name", class: "form-control"%>
  </p>
  <p>
    <%= form.text_field :last_name, placeholder: "last name", class: "form-control" %>
  </p>
  <p>
    <%= form.text_field :email, placeholder: "email", class: "form-control" %>
  </p>
  <p>
    <%= form.password_field :password, placeholder: "password", class: "form-control" %>
  </p>
  <div class="checkbox">
    <div class="terms-agree">
      <%= form.check_box :agreed, {}, 'true', nil %>
    </div>
    <div class="terms-agree">
      <label for="terms-agree-button">I Agree To <a href="/terms-of-use" >Terms of Use</a>.</label>
    </div>
  </div>
  <p>
    <%= form.submit "Sign up!", class: "btn btn-lg btn-primary btn-block" %>
  </p>

<% end %>
</div>





