

<% if @page < 7 %>
  <div class="pag-links">
    <form  class="w3-container w3-card-4 survey-form" action="/survey_questions/<%= question.id %>/user_responses" method="POST">
        <select class="w3-select" name="answer">
          <% question.responses.each do |response| %>
            <option value="<%= response.response %>"  ><%= response.response %></option>
          <% end %>
        </select>
        <%= hidden_field_tag 'page', '1', {class: 'js-form-page'}%>
        <button class="w3-btn w3-black multi-button" type="submit"><i class="fa "></i> NEXT</button>
        <!-- <input type="submit" value="submit" > -->
      </form>
  </div>
<% else %>
  <div class="pag-links">
    <form  class="w3-container w3-card-4 survey-form" action="/preferences" method="POST">
        <select class="w3-select" name="answer">
          <% question.responses.each do |response| %>
            <option value="<%= response.response %>"  ><%= response.response %></option>
          <% end %>
        </select>
        <%= hidden_field_tag 'page', '1', {class: 'js-form-page'}%>
        <button class="w3-btn w3-black multi-button" type="submit"><i class="fa "></i> NEXT</button>
        <!-- <input type="submit" value="submit" > -->
      </form>
  </div>
<% end %>
