

<div>
  <%= link_to_prev_page @questions, "previous" %>
  <%= link_to_next_page @questions, "next" %>
    <% @questions.each do |question| %>
    <% if question.version == "Yes/No" %>
       <%= render partial: "yes_no_question", locals: {question: question} %>
       <%= render partial: 'yes_no_response', locals: {question: question} %>
    <% elsif question.version == "Multiple Choice" %>
        <%= render partial: "multiple_choice_question", locals: {question: question} %>
        <%= render partial: 'multiple_choice_response', locals: {question: question} %>
    <% elsif question.version == "Open-ended" %>
        <%= render partial: "open_ended_question", locals: {question: question} %>
        <%= render partial: "open_ended_response", locals: {question: question} %>

      <% end  %>
    <% end %>
  </ul>


      <% if logged_in? && current_user.user_responses.count > 6  %>
        <%= button_to "Save", preferences_path, method: 'POST' %>
      <% end %>

</div>

<!--
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->