<!DOCTYPE html>
<html>
  <head>
    <title>RailsRegistrationSkeleton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="body-container">
    <nav>
      <ul>
      <% if logged_in? %>
          <li>Welcome, <%= link_to "#{current_user.first_name}",  @current_user %></li>
         | <li><%= link_to "Logout", logout_path %></li>
         | <li><%= link_to "Home", root_path %></li>
      <% else %>
         | <li><%= link_to "Register", new_user_path %></li>
         | <li><%= link_to "Login", new_session_path %></li>
         | <li><%= link_to "Home", root_path %></li>
      <% end %>
      </ul>
    </nav>

    <div class="layout-header"></div>
    <%= yield %>
  </section>
  </body>
</html>
